
<header>
    <h2 x-appear x-data-animation="bounceIn">关于康乐家政</h2>
    <h3>专业提供月嫂、育婴师、钟点工、保姆、保洁、护工</h3>
</header>

<!-- content -->
<article class="container text-left">

    <!-- anout us paragraphs -->
    <figure class="image-left animate_from_left" x-appear x-data-animation-direction="animate_from_left">
        <img alt="about us" class="img-responsive float-left" src="assets/images/preview/content/yuyingshi.png" height="500" />
    </figure>

    <p class="dropcap">武汉市洪山区康乐家政服务中心系经工商局注册（工商注册号：420111600437078)政府相关职能部门备案的经营实体，属湖北省家政行业协会单位。专业致力于高级家政管理服务企事业单位公共保洁、家庭钟点工服务，也是本市第一家采用网络智能化管理的家政服务中心。</p>
    <p class="dropcap">本家政服务中心实行规范化的专业家政管理服务，家政服务人员须经基础培训、卫生部门体检合格，拥有身份证明，体检证明方能上岗。我们为雇主提供个性化服务,满足您全方位的要求,对雇主采用跟踪服务的服务方式,全力为您提供舒适开心的家居生活环境。同时为了减轻雇主的责任风险，公司免费为雇主提供“双重保险”：A. 雇员人身意外伤害险－－最高理赔八万元人民币。B. 雇主第三责任险－－最高理赔十万元人民币（详情依照永安保险公司相关条款理赔）。</p>
    <p class="dropcap">目前已和荆门、荆州、襄樊、十堰 、孝感、黄岗等地区妇联、劳动就业部门建立了长效的家政服务员输送培训机制 ，与武汉市49个社区建立了再就业绿色通道。</p>
    <p class="dropcap">本家政服务中心以诚信为本，赢得了广大客户的赞誉，同时也为城乡下岗女工、农村剩余劳动力提供了广阔的就业平台。</p>

    <!-- number animate -->
    <div class="text-center animate_from_bottom" x-appear x-data-animation-direction="animate_from_bottom">

        <!-- animate 3 -->
        <div class="milestone">
            <i class="fa fa-home"></i> <!-- icon -->
            <span class="countTo" x-count-to>6</span><span>年</span> <!-- number -->
            <span class="countToDesc">经营时间</span> <!-- short text -->
        </div>

        <!-- animate 1 -->
        <div class="milestone">
            <i class="fa fa-briefcase"></i> <!-- icon -->
            <span>超过</span></span><span class="countTo" x-count-to>2500</span><span>次</span> <!-- number -->
            <span class="countToDesc">客户服务</span> <!-- short text -->
        </div>

        <!-- animate 2 -->
        <div class="milestone">
            <i class="fa fa-users"></i> <!-- icon -->
            <span>超过</span><span class="countTo" x-count-to>2100</span><span>人</span> <!-- number -->
            <span class="countToDesc">劳务资源</span> <!-- short text -->
        </div>

    </div>
    <!-- /number animate -->

</article>