<header>
    <h2 x-appear x-data-animation="bounceIn">我们的服务</h2>
    <h3>我们尽力给你最好的家政服务</h3>
</header>

<article class="container">
    <p>
        武汉市洪山区康乐家政服务中心随时为您提供专业的家庭服务。
        本公司月嫂育婴师毕业于正规的培训机构具有扎实的理论基础，将宝宝交给这样的专业人士照顾，产妇放心、宝宝又安心。
        本公司主要通过省妇联、劳动就业部门、阳光工程办、劳务职介部门等专业输送单位选送家务助理，来源安全可靠，双重体检。
        本公司清洗保洁中心拥有一支专业、敬业的清洁队伍，先后承接了多个现代化小区的新房清洁，深得广大客户的好评。
    </p>
</article>

<article class="container">

    <!-- services boxes -->
    <div class="serviceBoxContainer">
        <!-- box -->
        <div class="serviceBox" x-appear x-data-animation="fadeInUp">
            <i data-animation="rotateIn" class="fa fa-cutlery"></i>
            <h4>钟点工服务</h4>
            <p>钟点工是一种比保姆更加灵活的家政服务形式，其服务形式主要采取三种方式：
                1.  临时钟点服务
                &nbsp;&nbsp;&nbsp;&nbsp;
                2.  随叫随到套票
                &nbsp;&nbsp;&nbsp;&nbsp;
                3.  固定钟点服务
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                服务范围包括：买菜、做饭、家居清洁等。
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                武汉市洪山区康乐家政服务中心有一批经过专业培训的经验丰富的钟点工队伍，具有专业的家居清洁、洗衣熨烫、配菜及烹饪技能。</p>
            <a class="btn btn-custom" href="#"> 详细了解</a>
        </div>
        <!-- /box -->

        <!-- box -->
        <div class="serviceBox" x-appear x-data-animation="fadeInUp">
            <i data-animation="rotateIn" class="fa fa-child"></i>
            <h4>月嫂、育婴师</h4>
            <p>母婴护理（月嫂）对产妇及新生儿提供如下服务：产妇营养膳食调配，乳房的护理，保健母乳喂养的指导，会阴冲洗及伤口护理，产妇一般身体状况的观察，护理及指导；新生儿洗澡、抚触、喂奶、换尿布、包束、婴儿抱法、常见病防治；新生儿断奶、添加辅食、母子情感交流等。
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               育婴师主要针对0-3岁婴幼儿提供生活照料、日常健康护理及早期教育等工作，兼做一般家务。</p>
            <a class="btn btn-custom" href="#"> 详细了解</a>
        </div>
        <!-- /box -->

        <!-- box -->
        <div class="serviceBox" x-appear x-data-animation="fadeInUp">
            <i data-animation="rotateIn" class="fa fa-female"></i>
            <h4>家庭保姆</h4>
            <p>家务助理接受公司提供的择业观念、职业道德、日常礼仪、法律知识、安全知识、买菜记账、家庭烹饪、衣物洗熨、衣物消毒、居家保洁、电器使用、花草养护、护理常识、照顾老幼、宠物饲养、家庭保健等课程的强化培训，考试合格上岗大都具备了基本的家政服务技能，获得上岗资格，为江城的千家万户提供了专业的家政服务。
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <a class="btn btn-custom" href="#"> 详细了解</a>
        </div>
        <!-- /box -->

        <!-- box -->
        <div class="serviceBox" x-appear x-data-animation="fadeInUp">
            <i data-animation="rotateIn" class="fa fa-building"></i>
            <h4>开荒保洁</h4>
            <p>武汉市洪山区康乐家政服务中心清洗保洁中心拥有一支专业、敬业的清洁队伍，提供地毯清洗、外墙清洗、沙发清洗、电脑清洗、油烟机清洗、吊灯清洗、家用空调清洗、地板清洗打蜡和翻新、地面砖翻新、家庭日常保洁、新居开荒等服务，同时，还对物业花园、大型酒店、超市、工厂、机关学校、医院、商务楼提供保洁托管服务。
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <a class="btn btn-custom" href="#"> 详细了解</a>
        </div>
        <!-- /box -->

    </div>
    <!-- /services boxes -->

</article>

<article class="container">

    <!-- services columns -->
    <div class="serviceColumnContainer">
        <div class="row">
            <!-- column left -->
            <div class="col-md-6 text-left">

                <!-- service #1 -->
                <div class="serviceColumn animate_from_left" x-appear x-data-animation-direction="animate_from_left">
                    <i class="ico-stack fa fa-group"></i>
                    <h3 class="page-header">丰富的劳务资源</h3>
                    <p>公司成立6年时间，积累了大量的人力资源。除了数量上有保障，公司各类家政人员进行甄别，通过几年的售后，积累了家政人员第一手的资料。</p>
                </div>

                <!-- service #2 -->
                <div class="serviceColumn animate_from_left" x-appear x-data-animation-direction="animate_from_left">
                    <i class="ico-stack fa fa-phone"></i>
                    <h3 class="page-header">专业的咨询服务</h3>
                    <p>几年工作下来，我们对于各类家政工作的需求都比较了解。会根据您的具体需求提供专业的咨询服务，推荐最适合您的家政服务项目。</p>
                </div>

            </div>

            <!-- column right -->
            <div class="col-md-6 text-left animate_from_right" x-appear x-data-animation-direction="animate_from_right">

                <!-- service #3 -->
                <div class="serviceColumn">
                    <i class="ico-stack fa fa-smile-o"></i>
                    <h3 class="page-header">热情规范的接待</h3>
                    <p>我们一直采取预约制，一对一的接待会面，保证过来的客户和雇员有一个舒适自如的沟通空间，由家政老师主持，让每一次会面都尽量让人愉快。</p>
                </div>

                <!-- service #4 -->
                <div class="serviceColumn animate_from_right"x-appear x-data-animation-direction="animate_from_right">
                    <i class="ico-stack fa fa-thumbs-o-up"></i>
                    <h3 class="page-header">完善有保障的售后</h3>
                    <p>公司的双向保险已经购买了5年时间，每个月例行回访，让我们更加了解客户在使用过程中的意见和建议，详细了解家政人员在客户家里的工作情况，即协调双方的劳务关系，又掌握家政人员的想法和需求，力求为双方提供稳定长期的合作关系。</p>
                </div>

            </div>
        </div>
    </div>
    <!-- /services columns -->


</article>
