
<header>
    <h2 x-appear x-data-animation="bounceIn">我们的团队</h2>
    <h3>我们为您提供最专业的家政咨询服务</h3>
</header>

<!-- CAROUSEL -->
<article class="container text-left">
    <div class="row teams" x-appear x-data-animation="fadeIn">
        <!-- carousel item -->
        <div class="col-md-4 team" x-appear x-data-animation="fadeInUp">
            <!-- top image -->
            <span class="top-image"><img src="assets/images/preview/content/team/1.jpg" alt="庞老师" height="200"></span>
            <!-- member name / occupation -->
            <h4 class="team-member">
                <strong>庞老师</strong>
                / 联合创始人，客户经理
            </h4>
            <!-- short description -->
            <p class="team-member">毕业于武汉大学酒店管理专业，有酒店高层管理经验。
               <br/><br/><a target="_blank" href="tel:13995680722" class="rounded-icon social fa fa-phone"></a><b>  <a target="_blank" href="tel:13995680722">13995680722</a></b>
            </p>
        </div>

        <!-- carousel item -->
        <div class="col-md-4 team" x-appear x-data-animation="fadeInUp">
            <!-- top image -->
            <span class="top-image"><img src="assets/images/preview/content/team/2.jpg" alt="涂老师" height="200"></span>
            <!-- member name / occupation -->
            <h4 class="team-member">
                <strong>涂老师</strong>
                / 联合创始人，客户经理
            </h4>
            <!-- short description -->
            <p class="team-member">毕业于武汉工程大学会计专业，曾在上市公司担任会计工作。
                <br/><br/><a target="_blank" href="tel:13638623778" class="rounded-icon social fa fa-phone"></a><b>  <a target="_blank" href="tel:13638623778">13638623778</a></b>
            </p>
        </div>

        <!-- carousel item -->
        <div class="col-md-4 team" x-appear x-data-animation="fadeInUp">
            <!-- top image -->
            <span class="top-image"><img src="assets/images/preview/content/team/3.jpg" alt="吴老师" height="200"></span>
            <!-- member name / occupation -->
            <h4 class="team-member">
                <strong>吴老师</strong>
                / 客户经理
            </h4>
            <!-- short description -->
            <p class="team-member">有丰富的家政服务经验。
                <br/><br/><a target="_blank" href="tel:18908648300" class="rounded-icon social fa fa-phone"></a><b>  <a target="_blank" href="tel:18908648300">18908648300</a></b>
            </p>
        </div>

    </div>
</article>
<!-- /CAROUSEL -->