<!-- footer buttons -->
<div id="footerContent">
    <div class="container">

        <h2 data-animation="bounceIn">保持联系吧</h2>
        <h3>加我们为好友吧</h3>

        <!--
            paragraph - short description
            OR
            <div class="spacer"></div>
        -->
        <p>我们已开通了微信、微博、QQ，欢迎添加我们为好友，点击下面的图标，扫一扫弹出的二维码吧！快来联系我们吧！</p>

        <div class="social">
            <!-- weixin -->
            <a target="_blank" href="#" class="socialbtn facebook"><i class="fa fa-weixin"></i>微信</a>
            <!-- weibo -->
            <a target="_blank" href="#" class="socialbtn google"><i class="fa fa-weibo"></i>新浪微博</a>
            <!-- qq -->
            <a target="_blank" href="#" class="socialbtn twitter"><i class="fa fa-qq"></i>QQ</a>
            <!-- namecard -->
            <a target="_blank" href="assets/images/preview/contact/namecard.bmp" class="socialbtn youtube" x-pretty-photo><i class="fa fa-credit-card"></i>名片</a>
        </div>

    </div>
</div>
<!-- /footer buttons -->
