<!-- HOME -->
<section id="home" ui-view="title" class="homeTop nofull video color" style="background:url(assets/images/preview/video/ink.jpg) no-repeat center;height: 440px;">
</section>

<header id="header" ui-view="nav">
</header>

<!-- ABOUT OUR COMPANY -->
<section id="about" class="color" ui-view="about">
</section>

<!-- SERVICE NAME -->
<section id="serviceName" class="page-name parallax" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/preview/slider/parallax_bg.jpg);">
    <span class="overlay"></span>
    <span class="name">
        <b>康乐家政</b>欢迎您<b>!</b>
        <i class="fa fa-arrows-alt"></i>
    </span>
</section>

<!-- SERVICE LIST -->
<section id="services" ui-view="services">
</section>

<!-- SERVICE LIST -->
<section id="guide" ui-view="guide">
</section>