<div class="container">

    <!-- LOGO -->
    <a href="#home" class="pull-left scrollTo" id="scollToHome"><div class="logo"><img src="assets/images/logo.png" height="55" alt="康乐家政欢迎您" />康乐家政</div></a>

    <!-- MOBILE MENU -->
    <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"></button>

    <!-- NAV MENU -->
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul id="onepageNav" class="nav navbar-nav navbar-right" x-one-page-nav><!-- id="onepageNav" for homepage only -->
            <li class="active"><a href="#about">关于我们</a></li>
            <li><a href="#services">服务项目</a></li>
            <li><a href="#guide">服务指南</a></li>
            <li><a href="#team">关于团队</a></li>
            <li class="dropdown">
                <a class="external dropdown-toggle" href="#contact" data-toggle="dropdown">联系我们 <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu"><!-- dropdown menu -->
                    <li><a class="external" href="blog-with-sidebar.html">With Sidebar</a></li>
                    <li><a class="external" href="blog-with-sidebar-post.html">Post With Sidebar</a></li>
                    <li><a class="external" href="blog-without-sidebar.html">Without Sidebar</a></li>
                    <li><a class="external" href="blog-without-sidebar-post.html">Post Without Sidebar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="external dropdown-toggle" href="shop-without-drag.html" data-toggle="dropdown">SHOP <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu"><!-- dropdown menu -->
                    <li><a class="external" href="shop-without-drag.html">Shop Without Drag</a></li>
                    <li><a class="external" href="shop-cart.html">Shop Cart</a></li>
                    <li><a class="external" href="shop-product.html">Shop Product</a></li>
                    <li><a class="external" href="shop-with-cart.html">Draggable With Cart</a></li>
                    <li><a class="external" href="shop-without-cart.html">Draggable Without Cart</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="external dropdown-toggle" href="#" data-toggle="dropdown">FEATURES <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu"><!-- dropdown menu -->
                    <li><a class="external" href="typography.html">Typography</a></li>
                    <li><a class="external" href="elements.html">Elements</a></li>
                    <li><a class="external" href="slider.html">Sliders</a></li>
                    <li><a class="external" href="404.html">Not Found 404</a></li>
                    <li><a class="external" href="presentation-page.html">Presentation Page</a></li>
                    <li><a class="external" href="presentation-page-with-slider.html">Presentation Page Slider</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /NAV MENU -->

</div>