<!-- HEADER -->
<header id="header" ui-view="nav">
</header>
<!-- /HEADER -->

<!-- SERVICE DESCRIBE -->
<section id="desc" class="color" ui-view="desc">
</section>

<!-- ABOUT OUR COMPANY -->
<section id="priceTable" ui-view="priceTable">
</section>

<!-- ABOUT OUR COMPANY -->
<section id="pricing" ui-view="pricing">
</section>

<footer id="footer" ui-view="footer">
</footer>

<section id="footerRights">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                版权所有 &copy; 武汉市洪山区康乐家政管理服务中心  2008-2014
            </div>
        </div>
        <div id="callme" class="navbar-fixed-bottom"><a class="btn btn-custom btn-lg" target="_blank" href="tel:02787791032"><i class="fa fa-phone"></i>  快打电话吧</a></div>
    </div>
</section>